<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Custom Color Presets</key>
	<dict>
		<key>Brogrammer</key>
		<dict>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.12343787401914597</real>
				<key>Green Component</key>
				<real>0.12343578040599823</real>
				<key>Red Component</key>
				<real>0.1234394758939743</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.095619738101959229</real>
				<key>Green Component</key>
				<real>0.067135065793991089</real>
				<key>Red Component</key>
				<real>0.97170770168304443</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.379891037940979</real>
				<key>Green Component</key>
				<real>0.82695949077606201</real>
				<key>Red Component</key>
				<real>0.11459558457136154</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.035377603024244308</real>
				<key>Green Component</key>
				<real>0.74144089221954346</real>
				<key>Red Component</key>
				<real>0.95126962661743164</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.838664710521698</real>
				<key>Green Component</key>
				<real>0.50448882579803467</real>
				<key>Red Component</key>
				<real>0.061654355376958847</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.72698760032653809</real>
				<key>Green Component</key>
				<real>0.3135044276714325</real>
				<key>Red Component</key>
				<real>0.32478702068328857</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.85764402151107788</real>
				<key>Green Component</key>
				<real>0.4900696873664856</real>
				<key>Red Component</key>
				<real>0.059441849589347839</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.36823004484176636</real>
				<key>Green Component</key>
				<real>0.77383565902709961</real>
				<key>Red Component</key>
				<real>0.17600196599960327</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.060177117586135864</real>
				<key>Green Component</key>
				<real>0.72761225700378418</real>
				<key>Red Component</key>
				<real>0.92706489562988281</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.82454067468643188</real>
				<key>Green Component</key>
				<real>0.51804500818252563</real>
				<key>Red Component</key>
				<real>0.16567224264144897</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.71787959337234497</real>
				<key>Green Component</key>
				<real>0.35215187072753906</real>
				<key>Red Component</key>
				<real>0.30770933628082275</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.838664710521698</real>
				<key>Green Component</key>
				<real>0.50448882579803467</real>
				<key>Red Component</key>
				<real>0.061654355376958847</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.89713811874389648</real>
				<key>Green Component</key>
				<real>0.8579363226890564</real>
				<key>Red Component</key>
				<real>0.84028750658035278</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.89713811874389648</real>
				<key>Green Component</key>
				<real>0.8579363226890564</real>
				<key>Red Component</key>
				<real>0.84028750658035278</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.1818375289440155</real>
				<key>Green Component</key>
				<real>0.20686990022659302</real>
				<key>Red Component</key>
				<real>0.87161564826965332</real>
			</dict>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.076218985021114349</real>
				<key>Green Component</key>
				<real>0.076217696070671082</real>
				<key>Red Component</key>
				<real>0.07621997594833374</real>
			</dict>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.89713811874389648</real>
				<key>Green Component</key>
				<real>0.8579363226890564</real>
				<key>Red Component</key>
				<real>0.84028750658035278</real>
			</dict>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.72549021244049072</real>
				<key>Green Component</key>
				<real>0.72549021244049072</real>
				<key>Red Component</key>
				<real>0.72549021244049072</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.062745101749897003</real>
				<key>Green Component</key>
				<real>0.062745101749897003</real>
				<key>Red Component</key>
				<real>0.062745101749897003</real>
			</dict>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.89713811874389648</real>
				<key>Green Component</key>
				<real>0.8579363226890564</real>
				<key>Red Component</key>
				<real>0.84028750658035278</real>
			</dict>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.89713811874389648</real>
				<key>Green Component</key>
				<real>0.8579363226890564</real>
				<key>Red Component</key>
				<real>0.84028750658035278</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.12343787401914597</real>
				<key>Green Component</key>
				<real>0.12343578040599823</real>
				<key>Red Component</key>
				<real>0.1234394758939743</real>
			</dict>
		</dict>
		<key>Dracula</key>
		<dict>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.4823529411764706</real>
				<key>Green Component</key>
				<real>0.98039215686274506</real>
				<key>Red Component</key>
				<real>0.31372549019607843</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.5490196078431373</real>
				<key>Green Component</key>
				<real>0.98039215686274506</real>
				<key>Red Component</key>
				<real>0.94509803921568625</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.97647058823529409</real>
				<key>Green Component</key>
				<real>0.57647058823529407</real>
				<key>Red Component</key>
				<real>0.74117647058823533</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.77647058823529413</real>
				<key>Green Component</key>
				<real>0.47450980392156861</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.99215686274509807</real>
				<key>Green Component</key>
				<real>0.9137254901960784</real>
				<key>Red Component</key>
				<real>0.54509803921568623</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.4823529411764706</real>
				<key>Green Component</key>
				<real>0.98039215686274506</real>
				<key>Red Component</key>
				<real>0.31372549019607843</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.5490196078431373</real>
				<key>Green Component</key>
				<real>0.98039215686274506</real>
				<key>Red Component</key>
				<real>0.94509803921568625</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.97647058823529409</real>
				<key>Green Component</key>
				<real>0.57647058823529407</real>
				<key>Red Component</key>
				<real>0.74117647058823533</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.77647058823529413</real>
				<key>Green Component</key>
				<real>0.47450980392156861</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.99215686274509807</real>
				<key>Green Component</key>
				<real>0.9137254901960784</real>
				<key>Red Component</key>
				<real>0.54509803921568623</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.33333333333333331</real>
				<key>Green Component</key>
				<real>0.33333333333333331</real>
				<key>Red Component</key>
				<real>0.33333333333333331</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.33333333333333331</real>
				<key>Green Component</key>
				<real>0.33333333333333331</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.15977837145328522</real>
				<key>Green Component</key>
				<real>0.12215272337198257</real>
				<key>Red Component</key>
				<real>0.11765811592340469</real>
			</dict>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.90237069129943848</real>
				<key>Green Component</key>
				<real>0.90237069129943848</real>
				<key>Red Component</key>
				<real>0.90237069129943848</real>
			</dict>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.90032327175140381</real>
				<key>Green Component</key>
				<real>0.90032327175140381</real>
				<key>Red Component</key>
				<real>0.90032327175140381</real>
			</dict>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.35294118523597717</real>
				<key>Green Component</key>
				<real>0.27843138575553894</real>
				<key>Red Component</key>
				<real>0.26666668057441711</real>
			</dict>
		</dict>
		<key>Japanesque</key>
		<dict>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.20856963098049164</real>
				<key>Green Component</key>
				<real>0.22283002734184265</real>
				<key>Red Component</key>
				<real>0.20568123459815979</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.38021323084831238</real>
				<key>Green Component</key>
				<real>0.24660280346870422</real>
				<key>Red Component</key>
				<real>0.81089001893997192</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.17100538313388824</real>
				<key>Green Component</key>
				<real>0.49610027670860291</real>
				<key>Red Component</key>
				<real>0.46425256133079529</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.1833186000585556</real>
				<key>Green Component</key>
				<real>0.35025951266288757</real>
				<key>Red Component</key>
				<real>0.46875584125518799</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.47479093074798584</real>
				<key>Green Component</key>
				<real>0.34725069999694824</real>
				<key>Red Component</key>
				<real>0.074933364987373352</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.56739711761474609</real>
				<key>Green Component</key>
				<real>0.25756442546844482</real>
				<key>Red Component</key>
				<real>0.37626489996910095</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.79221165180206299</real>
				<key>Green Component</key>
				<real>0.73511248826980591</real>
				<key>Red Component</key>
				<real>0.46331635117530823</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.68263441324234009</real>
				<key>Green Component</key>
				<real>0.71090340614318848</real>
				<key>Red Component</key>
				<real>0.6965288519859314</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.35710996389389038</real>
				<key>Green Component</key>
				<real>0.71854472160339355</real>
				<key>Red Component</key>
				<real>0.48304364085197449</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.16496320068836212</real>
				<key>Green Component</key>
				<real>0.70341014862060547</real>
				<key>Red Component</key>
				<real>0.91225624084472656</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.82943236827850342</real>
				<key>Green Component</key>
				<real>0.60329484939575195</real>
				<key>Red Component</key>
				<real>0.29914027452468872</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.76894307136535645</real>
				<key>Green Component</key>
				<real>0.49908417463302612</real>
				<key>Red Component</key>
				<real>0.64749133586883545</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.67739421129226685</real>
				<key>Green Component</key>
				<real>0.60572487115859985</real>
				<key>Red Component</key>
				<real>0.22138151526451111</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.96549803018569946</real>
				<key>Green Component</key>
				<real>0.98070180416107178</real>
				<key>Red Component</key>
				<real>0.98026049137115479</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.34851333498954773</real>
				<key>Green Component</key>
				<real>0.3565424382686615</real>
				<key>Red Component</key>
				<real>0.34871619939804077</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.651419997215271</real>
				<key>Green Component</key>
				<real>0.55888265371322632</real>
				<key>Red Component</key>
				<real>0.81987529993057251</real>
			</dict>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.11759774386882782</real>
				<key>Green Component</key>
				<real>0.11759574711322784</real>
				<key>Red Component</key>
				<real>0.11759926378726959</real>
			</dict>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.98028081655502319</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.31030187010765076</real>
				<key>Green Component</key>
				<real>0.81186991930007935</real>
				<key>Red Component</key>
				<real>0.92885816097259521</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.20856963098049164</real>
				<key>Green Component</key>
				<real>0.22283002734184265</real>
				<key>Red Component</key>
				<real>0.20568123459815979</real>
			</dict>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.9264865517616272</real>
				<key>Green Component</key>
				<real>0.96665072441101074</real>
				<key>Red Component</key>
				<real>0.97033727169036865</real>
			</dict>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.9264865517616272</real>
				<key>Green Component</key>
				<real>0.96665072441101074</real>
				<key>Red Component</key>
				<real>0.97033727169036865</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.46659797430038452</real>
				<key>Green Component</key>
				<real>0.34349527955055237</real>
				<key>Red Component</key>
				<real>0.089366093277931213</real>
			</dict>
		</dict>
		<key>material-design-colors</key>
		<dict>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.40253299474716187</real>
				<key>Green Component</key>
				<real>0.35616019368171692</real>
				<key>Red Component</key>
				<real>0.26286587119102478</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.25575384497642517</real>
				<key>Green Component</key>
				<real>0.22098405659198761</real>
				<key>Red Component</key>
				<real>0.9871404767036438</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.74659085273742676</real>
				<key>Green Component</key>
				<real>0.96712285280227661</real>
				<key>Red Component</key>
				<real>0.67800694704055786</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.42511638998985291</real>
				<key>Green Component</key>
				<real>0.88262283802032471</real>
				<key>Red Component</key>
				<real>0.99765938520431519</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.99898606538772583</real>
				<key>Green Component</key>
				<real>0.81066548824310303</real>
				<key>Red Component</key>
				<real>0.43880558013916016</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.60766077041625977</real>
				<key>Green Component</key>
				<real>0.40164706110954285</real>
				<key>Red Component</key>
				<real>0.9887651801109314</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.90182536840438843</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.60292786359786987</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.99999129772186279</real>
				<key>Green Component</key>
				<real>0.99997437000274658</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.62042194604873657</real>
				<key>Green Component</key>
				<real>0.94388872385025024</real>
				<key>Red Component</key>
				<real>0.36202818155288696</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.19727933406829834</real>
				<key>Green Component</key>
				<real>0.81672251224517822</real>
				<key>Red Component</key>
				<real>0.99627053737640381</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.99871528148651123</real>
				<key>Green Component</key>
				<real>0.7149810791015625</real>
				<key>Red Component</key>
				<real>0.215079665184021</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.43182668089866638</real>
				<key>Green Component</key>
				<real>0.13310989737510681</real>
				<key>Red Component</key>
				<real>0.986469566822052</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.82062870264053345</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.34860008955001831</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.99999129772186279</real>
				<key>Green Component</key>
				<real>0.99997437000274658</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.72321081161499023</real>
				<key>Green Component</key>
				<real>0.69167852401733398</real>
				<key>Red Component</key>
				<real>0.63061976432800293</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.42818409204483032</real>
				<key>Green Component</key>
				<real>0.45310419797897339</real>
				<key>Red Component</key>
				<real>0.98958194255828857</real>
			</dict>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.16608485579490662</real>
				<key>Green Component</key>
				<real>0.14745020866394043</real>
				<key>Red Component</key>
				<real>0.11278382688760757</real>
			</dict>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.91648769378662109</real>
				<key>Green Component</key>
				<real>0.91671288013458252</real>
				<key>Red Component</key>
				<real>0.91654461622238159</real>
			</dict>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.91648769378662109</real>
				<key>Green Component</key>
				<real>0.91671288013458252</real>
				<key>Red Component</key>
				<real>0.91654461622238159</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.93115901947021484</real>
				<key>Green Component</key>
				<real>0.92142927646636963</real>
				<key>Red Component</key>
				<real>0.90730977058410645</real>
			</dict>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.93115901947021484</real>
				<key>Green Component</key>
				<real>0.92142927646636963</real>
				<key>Red Component</key>
				<real>0.90730977058410645</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.47096589207649231</real>
				<key>Green Component</key>
				<real>0.41462835669517517</real>
				<key>Red Component</key>
				<real>0.30659490823745728</real>
			</dict>
		</dict>
	</dict>
	<key>Default Bookmark Guid</key>
	<string>2BB7088A-671C-49D4-877E-AAC92BE6DEDD</string>
	<key>EnableAPIServer</key>
	<true/>
	<key>HapticFeedbackForEsc</key>
	<false/>
	<key>HotkeyMigratedFromSingleToMulti</key>
	<true/>
	<key>IRMemory</key>
	<integer>4</integer>
	<key>New Bookmarks</key>
	<array>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.20856963098049164</real>
				<key>Green Component</key>
				<real>0.22283002734184265</real>
				<key>Red Component</key>
				<real>0.20568123459815979</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.38021323084831238</real>
				<key>Green Component</key>
				<real>0.24660280346870422</real>
				<key>Red Component</key>
				<real>0.81089001893997192</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.17100538313388824</real>
				<key>Green Component</key>
				<real>0.49610027670860291</real>
				<key>Red Component</key>
				<real>0.46425256133079529</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.1833186000585556</real>
				<key>Green Component</key>
				<real>0.35025951266288757</real>
				<key>Red Component</key>
				<real>0.46875584125518799</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.47479093074798584</real>
				<key>Green Component</key>
				<real>0.34725069999694824</real>
				<key>Red Component</key>
				<real>0.074933364987373352</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.56739711761474609</real>
				<key>Green Component</key>
				<real>0.25756442546844482</real>
				<key>Red Component</key>
				<real>0.37626489996910095</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.79221165180206299</real>
				<key>Green Component</key>
				<real>0.73511248826980591</real>
				<key>Red Component</key>
				<real>0.46331635117530823</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.68263441324234009</real>
				<key>Green Component</key>
				<real>0.71090340614318848</real>
				<key>Red Component</key>
				<real>0.6965288519859314</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.35710996389389038</real>
				<key>Green Component</key>
				<real>0.71854472160339355</real>
				<key>Red Component</key>
				<real>0.48304364085197449</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.16496320068836212</real>
				<key>Green Component</key>
				<real>0.70341014862060547</real>
				<key>Red Component</key>
				<real>0.91225624084472656</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.82943236827850342</real>
				<key>Green Component</key>
				<real>0.60329484939575195</real>
				<key>Red Component</key>
				<real>0.29914027452468872</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.76894307136535645</real>
				<key>Green Component</key>
				<real>0.49908417463302612</real>
				<key>Red Component</key>
				<real>0.64749133586883545</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.67739421129226685</real>
				<key>Green Component</key>
				<real>0.60572487115859985</real>
				<key>Red Component</key>
				<real>0.22138151526451111</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.96549803018569946</real>
				<key>Green Component</key>
				<real>0.98070180416107178</real>
				<key>Red Component</key>
				<real>0.98026049137115479</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.34851333498954773</real>
				<key>Green Component</key>
				<real>0.3565424382686615</real>
				<key>Red Component</key>
				<real>0.34871619939804077</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.651419997215271</real>
				<key>Green Component</key>
				<real>0.55888265371322632</real>
				<key>Red Component</key>
				<real>0.81987529993057251</real>
			</dict>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.11759774386882782</real>
				<key>Green Component</key>
				<real>0.11759574711322784</real>
				<key>Red Component</key>
				<real>0.11759926378726959</real>
			</dict>
			<key>Background Image Location</key>
			<string></string>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.1491314172744751</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Blinking Cursor</key>
			<false/>
			<key>Blur</key>
			<false/>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.98028081655502319</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>80</integer>
			<key>Command</key>
			<string></string>
			<key>Cursor Boost</key>
			<real>0.28967696629213485</real>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.31030187010765076</real>
				<key>Green Component</key>
				<real>0.81186991930007935</real>
				<key>Red Component</key>
				<real>0.92885816097259521</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.9268307089805603</real>
				<key>Red Component</key>
				<real>0.70213186740875244</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.20856963098049164</real>
				<key>Green Component</key>
				<real>0.22283002734184265</real>
				<key>Red Component</key>
				<real>0.20568123459815979</real>
			</dict>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>No</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.9264865517616272</real>
				<key>Green Component</key>
				<real>0.96665072441101074</real>
				<key>Red Component</key>
				<real>0.97033727169036865</real>
			</dict>
			<key>Guid</key>
			<string>2BB7088A-671C-49D4-877E-AAC92BE6DEDD</string>
			<key>Has Hotkey</key>
			<true/>
			<key>Horizontal Spacing</key>
			<real>1</real>
			<key>HotKey Activated By Modifier</key>
			<false/>
			<key>HotKey Alternate Shortcuts</key>
			<array/>
			<key>HotKey Characters</key>
			<string>'</string>
			<key>HotKey Characters Ignoring Modifiers</key>
			<string>'</string>
			<key>HotKey Key Code</key>
			<integer>39</integer>
			<key>HotKey Modifier Activation</key>
			<integer>0</integer>
			<key>HotKey Modifier Flags</key>
			<integer>262144</integer>
			<key>HotKey Window Animates</key>
			<false/>
			<key>HotKey Window AutoHides</key>
			<true/>
			<key>HotKey Window Dock Click Action</key>
			<integer>2</integer>
			<key>HotKey Window Floats</key>
			<true/>
			<key>HotKey Window Reopens On Activation</key>
			<false/>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>ssh</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict>
				<key>0x2d-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1f</string>
				</dict>
				<key>0x32-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x00</string>
				</dict>
				<key>0x33-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b</string>
				</dict>
				<key>0x34-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1c</string>
				</dict>
				<key>0x35-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1d</string>
				</dict>
				<key>0x36-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1e</string>
				</dict>
				<key>0x37-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1f</string>
				</dict>
				<key>0x38-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x7f</string>
				</dict>
				<key>0xf700-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2A</string>
				</dict>
				<key>0xf700-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5A</string>
				</dict>
				<key>0xf700-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6A</string>
				</dict>
				<key>0xf700-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x41</string>
				</dict>
				<key>0xf701-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2B</string>
				</dict>
				<key>0xf701-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5B</string>
				</dict>
				<key>0xf701-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6B</string>
				</dict>
				<key>0xf701-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x42</string>
				</dict>
				<key>0xf702-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2D</string>
				</dict>
				<key>0xf702-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5D</string>
				</dict>
				<key>0xf702-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6D</string>
				</dict>
				<key>0xf702-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x44</string>
				</dict>
				<key>0xf703-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2C</string>
				</dict>
				<key>0xf703-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5C</string>
				</dict>
				<key>0xf703-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6C</string>
				</dict>
				<key>0xf703-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x43</string>
				</dict>
				<key>0xf704-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2P</string>
				</dict>
				<key>0xf705-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2Q</string>
				</dict>
				<key>0xf706-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2R</string>
				</dict>
				<key>0xf707-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2S</string>
				</dict>
				<key>0xf708-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[15;2~</string>
				</dict>
				<key>0xf709-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[17;2~</string>
				</dict>
				<key>0xf70a-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[18;2~</string>
				</dict>
				<key>0xf70b-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[19;2~</string>
				</dict>
				<key>0xf70c-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[20;2~</string>
				</dict>
				<key>0xf70d-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[21;2~</string>
				</dict>
				<key>0xf70e-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[23;2~</string>
				</dict>
				<key>0xf70f-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[24;2~</string>
				</dict>
				<key>0xf729-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2H</string>
				</dict>
				<key>0xf729-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5H</string>
				</dict>
				<key>0xf72b-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2F</string>
				</dict>
				<key>0xf72b-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5F</string>
				</dict>
			</dict>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.73423302173614502</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.35916060209274292</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>Default</string>
			<key>Non Ascii Font</key>
			<string>Monaco 12</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>Menlo-Regular 11</string>
			<key>Option Key Sends</key>
			<integer>0</integer>
			<key>Prompt Before Closing 2</key>
			<false/>
			<key>Right Option Key Sends</key>
			<integer>0</integer>
			<key>Rows</key>
			<integer>25</integer>
			<key>Screen</key>
			<integer>-2</integer>
			<key>Scrollback Lines</key>
			<integer>1000</integer>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.9264865517616272</real>
				<key>Green Component</key>
				<real>0.96665072441101074</real>
				<key>Red Component</key>
				<real>0.97033727169036865</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.46659797430038452</real>
				<key>Green Component</key>
				<real>0.34349527955055237</real>
				<key>Red Component</key>
				<real>0.089366093277931213</real>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Shortcut</key>
			<string></string>
			<key>Silence Bell</key>
			<false/>
			<key>Space</key>
			<integer>-1</integer>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Transparency</key>
			<real>0.0</real>
			<key>Unlimited Scrollback</key>
			<false/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<false/>
			<key>Vertical Spacing</key>
			<real>1</real>
			<key>Visual Bell</key>
			<true/>
			<key>Window Type</key>
			<integer>5</integer>
			<key>Working Directory</key>
			<string>/Users/s05649</string>
		</dict>
	</array>
	<key>OpenArrangementAtStartup</key>
	<false/>
	<key>OpenBookmark</key>
	<false/>
	<key>OpenNoWindowsAtStartup</key>
	<true/>
	<key>PMPrintingExpandedStateForPrint2</key>
	<false/>
	<key>PointerActions</key>
	<dict>
		<key>Button,1,1,,</key>
		<dict>
			<key>Action</key>
			<string>kContextMenuPointerAction</string>
		</dict>
		<key>Button,2,1,,</key>
		<dict>
			<key>Action</key>
			<string>kPasteFromClipboardPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeDown,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevWindowPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeLeft,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeRight,,</key>
		<dict>
			<key>Action</key>
			<string>kNextTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeUp,,</key>
		<dict>
			<key>Action</key>
			<string>kNextWindowPointerAction</string>
		</dict>
	</dict>
	<key>Print In Black And White</key>
	<true/>
	<key>SoundForEsc</key>
	<false/>
	<key>VisualIndicatorForEsc</key>
	<false/>
	<key>WordCharacters</key>
	<string>/-+\~_.</string>
	<key>findMode_iTerm</key>
	<integer>0</integer>
	<key>kCPKSelectionViewPreferredModeKey</key>
	<integer>0</integer>
	<key>kCPKSelectionViewShowHSBTextFieldsKey</key>
	<false/>
</dict>
</plist>
